.gallery__title{
	padding-top:150px;
	margin-left:40px;

}


.gallery__items{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding-top:90px;

	div{
		margin-bottom:40px;
		&:hover{
			opacity:0.8;
		}
	}
}




